.c-card {
	background: $color-white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin: 20px 0;
	padding: 20px;
	text-decoration: none; // card is a link tag

	@include mq(tablet) {
		flex-direction: row;
	}

	h2 {
		margin: 0;
	}

	&:hover h2 {
		text-decoration: $color-4 dotted underline;
	}
}

.c-card__text {
	color: $color-4;
	width: 100%;
	position: relative;
}

.c-card__content {
	@include line-clamp(3);
}

.c-card__description {
	font-size: 16px;

	@include mq(desktop) {
		font-size: 20px;
	}
}

.c-card__img-wrapper {
	@include mq(tablet) {
		flex-basis: 50%;
		margin-right: 20px;
	}

	@include mq(desktop) {
		flex-basis: 20%;
	}
}

.c-card__img {
	max-width: 100%;
}

.c-card__date {
	bottom: 0;
	color: $color-3;
	font-style: italic;
	position: absolute;
	right: 0;
}
