<!DOCTYPE html>
<html lang="it">
	<head>
		<title>Note to self.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta name="description" content="Blog di Sere, dove buttar giù tutti i pensieri.">

		<link rel="icon" type="image/png" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/whatsapp/238/cat-face_1f431.png"/>
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/_includes/styles/css/style.css">
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		{# <!-- capture the CSS content as a Nunjucks variable -->
		{% set css %}
		{% include "styles/css/style.css" %}
		{% endset %}
		<!-- feed it through our cssmin filter to minify -->
		<style>
			{{ css | cssmin | safe }}
		</style> #}
	</head>

	<body>
		<div class="l-wrapper">
			{{ content | safe }}
		</div>

		<script>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", user => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}

		</script>
	</body>
</html>
