---
layout: layouts/base.njk
---

<div class="c-post">
	<h2 class="c-post__title">{{ title }}</h2>
	<div class="c-post__content">{{ content | safe }}</div>

	<img class="c-post__img" src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
	<time class="c-post__date">{{ date | readableDate }}</time>
</div>
